
@font-face {
    src: url("fonts/kboutoftowner.ttf");
    font-family: "Out of Towner";
}

@font-face {
    font-family: "Chelsea";
    src: url("fonts/Chelsea.ttf");
}

.app-bar
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #f5f5f5;
    /*background-color: white;*/
    min-height: 48px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0 50px;
    z-index: 5;
}

.app-bar .ux-tab-bar
{
    width: 50%;
    position: relative;
    box-shadow: none;
    background-color: transparent;
}

.app-bar .ux-tab-bar .ux-tab-item
{
    /*font-family: "Out of Towner", "Roboto", sans-serif;*/
    /*font-family: "Chelsea", "Roboto", sans-serif;*/
    /*font-size: 15px;*/
    letter-spacing: 1px;
}

.app-bar .ux-icon-button
{
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 50px;
    font-size: 20px;
    width: 40px;
    height: 40px;
}


@media (pointer:coarse)
{
    .app-bar
    {
        padding: 0;
    }
    .app-bar .ux-tab-bar
    {
        width: 85%;
    }
    .app-bar .ux-icon-button
    {
        bottom: 5px;
        left: 5px;
    }
    .ux-tooltip
    {
        display: none !important;
    }
}
